dt {
	font-size: 12px;
	margin-top: 10px;
	vertical-align: middle;
}
dt img {
	vertical-align: middle;
}
dd {
	font-size: 16px;
	vertical-align: middle;
}
ol, ul {
	margin-top: 20px;
}
li {
	margin-top: 10px;
}
body {
	height: 100%;
}
.code-viewer-wrap {
	position: fixed;
	background: #ddd;
	height: 100%;
}
.code-viewer {
	height: 100%;
}
.center-line {
	position: relative;
	top: -390px;
}